# This is Git's per-user configuration file.
[user]
	name = Julius Dehner
	email = julius.dehner@gmail.com
# Please adapt and uncomment the following lines:
#	name = Julius Dehner
#	email = julius.dehner@gmail.com
