# This is Git's per-user configuration file.
[user]
	name = Julius Dehner
	email = julius.dehner@gmail.com

[color]
	status = auto
	branch = auto
    interactive = auto
	ui = auto
    pager = true
[credential]
	helper = store
[mergetool]
	prompt = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	path = nvim
[difftool "vimdiff"]
	path = nvim
[pull]
	rebase = true
