# This is Git's per-user configuration file.
[user]
	name = Julius Dehner
	email = julius.dehner@gmail.com

[color]
    diff = auto
	status = auto
	branch = auto
    interactive = auto
	ui = auto
    pager = true
